html {
  background: url(img/background_sky.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

a {
  color: white;
}

br {
  line-height: 190%;
}

div {
  overflow: auto;
}

#header {
  position: absolute;
  z-index: 99;
  top: 3%;
  left: 3%;
  bottom: 75%;
  right:3%;
  font-size: 2.5vw; /* Global responsive font size*/
}

#photo {
  background: url(img/photo.png) no-repeat center center;
  background-size: 150px;
  position: absolute;
  z-index: 99;
  top: 0%;
  right: 0%;
  min-height: 100%;
  width: 20%;
  max-width: 150px;
  max-height: 150px;
  border-radius: 15%;
}

#CV_title_div {
  position: absolute;
  z-index: 99;
  top: 0%;
  left: 0%;
  right:auto;
  max-width: 75%;
  font-size: 2.5vw; /* Global responsive font size*/
}

#title1 {
  font-size: 40px;
  font-weight: 100; /* light font size */
  padding: 10px;
}

#first_sentence {
  font-size: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
}

#content_div {
  position: absolute;
  z-index: 99;
  top: 28%;
  left: 1%;
  right:3%;
  bottom: 3%;
  max-height: 75%;
  font-size: 16px; /* Global responsive font size*/
  color: white;
  padding: 0px;
}

#contact_div {
  max-height: 100%;
  position: absolute;
  z-index: 99;
  left: 0%;
  right: 74%;
  bottom: auto;
  font-size: 14px; /* Global responsive font size*/
  color: white;
  text-align: center;
}

.contact_insider_div {
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 16px;
  padding-bottom: 10px;
}

.title_contact {
  margin-bottom: 10px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.40);
  position: relative;
  font-size: 130%;
}

#CV_content_div {
  position: absolute;
  z-index: 99;
  right: 0%;
  bottom: auto;
  width: 73%;
  max-height: 100%;
  font-size: 16px; /* Global responsive font size*/
  color: white;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius:16px;
  overflow: auto;
}

.category_title{
  cursor: pointer;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: rgba(0, 0, 0, 0.40);
  position: relative;
  font-size: 130%;
}

.category_title:hover {
  font-size: 135%;
  font-weight: bold;
   border: 1px solid white;
    border-radius: 16px;
}

table {
  width:100%;
  border-collapse: collapse;
  border-style: hidden;
}

td, th {
  text-align: left;
  padding: 20px;
}

.first_column {
  table-layout:fixed;
  width: 20%;
  text-align: center;
}

td + td, th + th { border-left: 1px solid rgba(255, 255, 255, 0.15); }
tr + tr { border-top: 1px solid rgba(255, 255, 255, 0.15); }

li {
   margin:0 0 10px 0;
}

#technical_column {
  background: url(img/skills.png) no-repeat;
  background-size: 100%;
  background-position: center;
}

#languages_column {
  background: url(img/flag.png) no-repeat;
  background-size: 25%;
  background-position: left;
}

#music_column {
  background: url(img/ukulele.png) no-repeat;
  background-size: 50%;
  background-position: right;
}

#sport_column {
  background: url(img/football.png) no-repeat;
  background-size: 50%;
  background-position: center;
}

#travel_column {
  background: url(img/moai.png) no-repeat;
  background-size: 100px 100px;
}






::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px dotted #720c0c;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
